@model System.String[]
@if (Model != null && Model.Any())
{
    <div>
        @Html.Raw(Model[0])
        @for (int i = 1; i < Model.Length; i++)
        {
            @Html.Raw(", " + Model[i])
        }
    </div>
}
