@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">
    body {
        background: url(/Images/cork_district_picture.jpg);
        background-attachment: fixed;
    }

    .jumbotron {
        background-color: #871627;
        color: white;
    }
</style>

<br /><br />
<div class="jumbotron">
    <h1>Welcome to the Cork District!</h1>
    <p class="lead">
        This is where you can register and purchase wine tastings for your corkdistrict card, if you have not created an account, please register, or if you have an
        account you may log in, which is located in the upper right hand corner. We hope you enjoy the experience of tasting wines at one of the participating Cork District wineries.
        If you have any questions please contact us.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cork District Site</h2>
        <p>
            Click the button for more information about the Cork District
        </p>
        <p><a class="btn btn-default" href="http://www.visitspokane.com/cork-district" >Cork District &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Wineries</h2>
        <p>Click the button to for participating wineries.</p>
        <p><a class="btn btn-default" href="http://www.visitspokane.com/cork-district/wineries/">Wineries &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Winery Map</h2>
        <p>Click button to loctate wineries on the map.</p>
        <p><a class="btn btn-default" href="http://www.visitspokane.com/includes/content/docs/MEDIA/Cork_District_Brochure_Web2.pdf">Winery Map &raquo;</a></p>
    </div>
</div>